#heart {
  position: relative;
  width: 100px;
  height: 90px;
  transform: rotate(-45deg);
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
}

#heart:after {
  left: 0;
  border-radius: 0 0 50px 50px;
}
