@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    background-color: white;
}


#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.clarin.com/img/2021/09/28/san-valentin-por-que-el___aOXEWyJaM_640x361__1.jpg);
  background-size: cover;
	background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-container h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  color: red;
}